<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136165045218-itc44llnm3clnm99vplh8ib7cjsvmrss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136165045218-itc44llnm3clnm99vplh8ib7cjsvmrss</string>
	<key>API_KEY</key>
	<string>AIzaSyBAIzQ4dZZQnNelE8ra93gB_dyS_V7tX74</string>
	<key>GCM_SENDER_ID</key>
	<string>136165045218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocialLoginSample</string>
	<key>PROJECT_ID</key>
	<string>grmc-386010</string>
	<key>STORAGE_BUCKET</key>
	<string>grmc-386010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136165045218:ios:f79a9ec0d5c818ff11bfbb</string>
</dict>
</plist>